<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Detail</title>
	<link rel="stylesheet" type="text/css" href="css/SignUp.css" />
</head>
<body>
	<h1>Detail</h1>
	<div id="detail_area">
		<form action="postlogin" method="post" accept-charset="utf-8">
			<div id="username_area">
				<label>UserName<input type="text" id="text1" class="showmessage" onfocus="this.blur()" name="name" value={{.Username}}></label>
				<p id="errorname" class="error"></p>
			</div>
			<div id="sid_area">
				<label>StudentId<input type="text" id="text2" class="showmessage" onfocus="this.blur()" name="id" value={{.StudentId}}></label>
				<p id="errorsid" class="error"></p>
			</div>
			<div id="phone_area">
				<label>Phone<input type="text" id="text3" class="showmessage" onfocus="this.blur()" name="phone" value={{.Phone}}></label>
				<p id="errorphone" class="error"></p>
			</div>
			<div id="email_area">
				<label>Email<input type="text" id="text4" class="showmessage" onfocus="this.blur()" name="email" value={{.Email}}></label>
				<p id="erroremail" class="error"></p>
			</div>
		</form>
	</div>
</body>
</html>