<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="css/SignUp.css" />
	<script src="js/SignUpJquery.js"></script>
	<script src="js/errorcheck.js"></script>
</head>
<body>
	<h1>注册</h1>
	<div id="signup_area">
		<form action="/static/register"method="post" accept-charset="utf-8">
			<div id="username_area">
				<label>UserName<input type="text" id="text1" class="usermessage" name="name" value={{.Username}}></label>
				<p id="errorname" class="error"></p>
			</div>
			<div id="sid_area">
				<label>StudentId<input type="text" id="text2" class="usermessage" name="id" value={{.StudentId}}></label>
				<p id="errorsid" class="error"></p>
			</div>
			<div id="phone_area">
				<label>Phone<input type="text" id="text3" class="usermessage" name="phone" value={{.Phone}}></label>
				<p id="errorphone" class="error"></p>
			</div>
			<div id="email_area">
				<label>Email<input type="text" id="text4" class="usermessage" name="email" value={{.Email}}></label>
				<p id="erroremail" class="error"></p>
			</div>
			<input type="submit" id="submission" value="Submit" />
			<input type="reset" id="resetting" value="Reset" />
		</form>
	</div>
</body>
</html>